body {
    background-color: #EEE;
}
div.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #ccc;
}

/* Style the buttons inside the tab */
div.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 4px 4px;
}

/* Change background color of buttons on hover */
div.tab button:hover {
    background-color: #ddd;
}